<div class="container">

  <!--Bag Of Words-->
  <div>
    <h5>Bag Of Words</h5>
    <p>After we applying Stemming or Lemmatization and stop words
      in our text data we can be applying bagofwords, from using this preprocessing
      technique we can convert our text data to the numerical representation</p>
    <b>Types of Bag Of Words</b>
    <ul>
      <li>Binary Bag of words</li>
      <li>Normal Bag of words</li>
    </ul>
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--qveZ_g7d--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://raw.githubusercontent.com/cassieview/intro-nlp-wine-reviews/master/imgs/vectorchart.PNG"  class="img-fluid" width="500px" height="300px"><br>
    <i>Binary bag of words</i><br><br>
    <img src="https://miro.medium.com/max/1536/1*3IACMnNpwVlCl8kSTJocPA.png"   class="img-fluid" width="500px" height="300px"><br>
    <i>Normal bag of words</i><br><br>

    <b>Disadvantege of Bag of Words</b>
    <p>We can not find what are the important words that are most
      impacted by the output, for avoiding this one we can use other
      techniques like TF-IDF  vectorizer </p>
  </div>


  <!--TF-IDF-->
  <div>
    <h5>TF-IDF (Term Frequency–Inverse Document Frequency)</h5>
    <img src="https://miro.medium.com/fit/c/1838/551/1*V9ac4hLVyms79jl65Ym_Bw.jpeg"  class="img-fluid" width="500px" height="300px"><br>
    <b>https://www.youtube.com/watch?v=D2V1okCEsiE&list=PLZoTAELRMXVMdJ5sqbCK2LiM0HhQVWNzm&index=8</b>
    <p>IMAGE</p>
  </div>
</div>>
