<div class="container">
  <!--Random Forest Regression-->
  <div>
    <h5>Random forest algorithom</h5>
    <p>we can use a random forest algorithm for
      regression and classification of both cases. random
      forest is a bagging technique, in the random forest we use multiple
      decision trees. in random forest we pickup some sample of raws and some
      sample of columns in our data set randomly, this is also called as raw sampling and feature sampling. this raw sampling
      and feature sampling happen with replacemenet
    </p>
    <img src="https://ars.els-cdn.com/content/image/3-s2.0-B9780128177365000090-f09-17-9780128177365.jpg" class="img-fluid" width="500px" height="300px"><br>
    <p>
      In classification cases use mode of outputs, but in regression cases get mean of all ouputs
    </p>
  </div>

  <!--How random forest works with overfitting-->
  <div>
    <h5>How random forest works with overfitting </h5>
    <p>
      In random forest use multiple decision trees. considering a single
      decision tree it tends to train data set very well therefore overfitting problems
      may happen using a single decision tree. but in a random forest using multiple decision
      trees with raw and feature sampling. therefore random forest prevent the overfitting problem
    </p>
  </div>

  <!--Advantages of random forest-->
  <div>
    <h5>Advantages of random forest</h5>
    <ul>
      <li>Doesn't overfit</li>
      <li>Less parameter tuning required</li>
      <li>Decision tree handle both continous and categorical variables</li>
      <li>No feature scaling required</li>
      <li>Suitable for any ML case</li>
      <li>Robust to outliers</li>
    </ul>
  </div>

  <!--Performance Metrics-->
  <div>
    <h5>Performance metrics</h5>
    <ul>
      <li>Regression
        <ul>
          <li>
            R2,Adjusted R2
          </li>
          <li>
            MSE,RMSE,MAE
          </li>
        </ul>
      </li>
      <li>Classification
        <ul>
          <li>
            Confusion Matrix
          </li>
          <li>
            Precision,Recall, F1 score
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!--Disadvantage With random Forest-->
  <div>
    <h5>Disadvantages of Random Forest</h5>
    <p>
      Biased With features having many categories (Biased in multiclass classification problems towards more frequent classes.)
    </p>
  </div>

</div>
