<div class="container">

  <!---Key-->
  <div>
    <h5>Statics with Data Science</h5>

    <!--Basic Of Statics-->
    <ul>
      <p>Basic of Statics</p>
      <ul>
        <li><a href="">Mean</a></li>
      </ul>
      <ul>
        <li><a href="">Median</a></li>
      </ul>
      <ul>
        <li><a href="">Mode</a></li>
      </ul>
      <ul>
        <li><a href="">Standard Deviation</a></li>
      </ul>
    </ul>

    <!--Distributions-->
    <ul>
      <p>Disributions</p>
      <ul>
        <li><a href="">Gussian Distribution/Normal Distribution</a></li>
      </ul>
      <ul>
        <li><a href="">Z-Score</a></li>
      </ul>
      <ul>
        <li><a href="">Standard Normal Distribution Distribution</a></li>
      </ul>
    </ul>

    <!--Distributions-->
    <ul>
      <p>Graphs</p>
      <ul>
        <li><a href="">Gussian Distribution/Normal Distribution</a></li>
      </ul>
      <ul>
        <li><a href="">Z-Score</a></li>
      </ul>
      <ul>
        <li><a href="">Standard Normal Distribution Distribution</a></li>
      </ul>
    </ul>


    <div>
      <h5>Mean Median Mode</h5>
      <img src="https://datatab.net/assets/tutorial/locationParameter_en.png" class="img-fluid" width="500px" height="300px">
      <br><br>

      <div class="alert alert-primary" role="alert">
        <b>Mean:</b>  can use this with feature selection if
        the column does not have a good variance ( variance is near to 0) we can drop that column
      </div>

      <div class="alert alert-secondary" role="alert">
        <b>Variance:</b>  can use this with feature selection if
        the column does not have a good variance ( variance is near to 0) we can drop that column
      </div>

      <div class="alert alert-success" role="alert">
        <b>Variance:</b>  can use this with feature selection if
        the column does not have a good variance ( variance is near to 0) we can drop that column
      </div>
    </div>

    <!--Gussian Distribution/Normal Distribution-->
    <div>
      <h5>Gussian Distribution/Normal Distribution</h5>
      <img src="https://miro.medium.com/max/24000/1*IdGgdrY_n_9_YfkaCh-dag.png" class="img-fluid" width="500px" height="300px">
    </div>

    <!--Z-Score-->
    <div>
      <h5>Z-Score</h5>
      <img src="https://www.simplypsychology.org/Z-score-formula.jpg" class="img-fluid" width="300px" height="300px">
    </div>

    <!--Standard Normal Distribution Distribution-->
    <div>
      <h5>Standard Normal Distribution Distribution</h5>
      <img src="https://i.redd.it/phyxlmm9i7y01.jpg" class="img-fluid" width="500px" height="300px">

      <br><br>
      <div class="alert alert-success" role="alert">
        Linear Regression Assume that their variable in Standard Normal Distribution
      </div>
    </div>

  </div>
</div>
