<div class="container">
  <!--What is Feature Engineering-->
  <div>
    <h5>What is Feature Engineering</h5>
    <p>Feature engineering is a process of extract useful features from raw data using math, statistic and domain knowladge </p>
  </div>

  <!--One Hot Encoding-->
  <div>
    <h5>One Hot Encoding</h5>
    <img src="https://i.imgur.com/mtimFxh.png" class="img-fluid" width="500px" height="300px"><br>
    <b>how we can perform One hot Encoding for Multi Categorical Features</b><br>
    <p>If we have a low number of categorical features it is not a problem for applying one-hot encoding
      but the number of categorical features increases and after applying one-hot encoding, it is a reason
      To increase the number of variables, to prevent this we can get the most frequent categorical features for applying one-hot encoding
    </p>
    Advantages:
    <ul>
      <li>Straightforward to implement</li>
      <li>Does not expand massively the number of columns in the data set </li>
    </ul>
    Disadvantages:
    <ul>
      <li>Does not keep any information about the ignored label  </li>
    </ul>
  </div>
</div>
