<div class="container">

  <!--What is Machine Learning-->
  <div>
    <h5>What is Machine Learning</h5>
    <p></p>
  </div>


  <!--Type of Machine Learning-->
  <div>
    <h5>Type of Machine Learning</h5>
    <ul>
      <li>Supervised Learning</li>
      <li>Unsupervised Learning</li>
      <li>Rainforcment Learning</li>
    </ul>
    <br>
    <img src="https://miro.medium.com/max/1200/1*FUZS9K4JPqzfXDcC83BQTw.png" class="img-fluid" width="500px" height="300px"><br>
    <b>Supervised Learning</b>
  </div>
</div>
