<div class="container">

  <!--Anova Testing-->
  <div>
    <h1><strong>CHI-SQUARE</strong> Test</h1>
  </div>


  <div>
    <h1><strong>T</strong> Test</h1>
  </div>

  <div>
    <h1><strong>ANOVA</strong> Test (F-Test)</h1>
    <img  class="img-fluid"  width="500px" height="300px" src="https://media.tumblr.com/12e1f0a948adcef0bdcd53d5ff7dd9cf/tumblr_inline_mlmoj7B1jq1qz4rgp.jpg">
    <ul>
      <li>ANOVA test used to compare the means of more than 2 groups</li>
      <li>Main types: One-way (one factor) and two-way (two factors) ANOVA (factor is an independent variable)</li>
      <li>The Analysis of Variance (ANOVA) is a statistical method used to test whether there are significant differences between the means of two or more groups. ANOVA returns two parameters:</li>
      <li>F-test score: ANOVA assumes the means of all groups are the same, calculates how much the actual means deviate from the assumption, and reports it as the F-test score. A larger score means there is a larger difference between the means.

        P-value: P-value tells how statistically significant is our calculated score value.</li>

    </ul>
    <h2>ANOVA Assumptions </h2>
    <ul>
      <li>Residuals (experimental error) are normally distributed</li>
      <li>Homogeneity of variances (variances are equal between treatment groups) (Levene’s or Bartlett’s Test)</li>
      <li>Observations are sampled independently from each other</li>
    </ul>

    <h2>ANOVA Hypotheses</h2>
    <ul>
      <li>Null hypotheses: Groups means are equal (no variation in means of groups)</li>
      <li>Alternative hypotheses: At least, one group mean is different from other groups</li>
    </ul>
  </div>

</div>
