<div class="container">

  <!--What is Ensemble Techniques-->
  <div>
    <h5>what doing with ensemble techniques</h5>
    <p>from using ensemble techniques we combined multiple models, ensemble techniques have two types </p>
    <ul>
      <li>Bagging</li>
      <li>Boosting</li>
    </ul>
    <p>
      Random forest example for bagging and XG Boost, Adag Boost, Gradient boost are examples for boosting
    </p>
  </div>

  <!--Bagging-->
  <div>
    <h5>Bagging</h5>
    <img src="https://miro.medium.com/max/850/1*_pfQ7Xf-BAwfQXtaBbNTEg.png" class="img-fluid" width="500px" height="300px">
    <p>bagging is also called bootstrap aggregation,
      here using raw sampling ( raw sampling : if we have m number of data points,
      we consider n number of data points (n<m)  for each model )
      after training these models getting the output of each model and combining them
      according to a majority, this is called as aggregations, . this is why bagging is also called as bootstrap aggregation </p>
  </div>

  <!--Boosting-->
  <div>
    <h5>Bagging vs Boosting</h5>
    <img src="https://miro.medium.com/max/708/1*ZYbqZcnzL1CT3ug9wQgY0Q.png" class="img-fluid" width="500px" height="300px">
    <p>///Not Completed</p>
  </div>
</div>
