<div class="container">

  <div>
    <h5>XG - BOost, AdaBoost, Gradient - Boost </h5>
    <img src="https://i.ytimg.com/vi/kho6oANGu_A/maxresdefault.jpg"  class="img-fluid" width="500px" height="300px">
  </div>

  <!--What Are the Basic Assumption?-->
  <div>
    <h5>What Are the Basic Assumption?</h5>
    <p>There are no such assumptions</p>
  </div>

  <!--Missing Values¶-->
  <div>
    <h5>Missing Values¶</h5>
    <ul>
      <li>Adaboost can handle mising values</li>
      <li>Xgboosst and GBoost cannot handle missing values</li>
    </ul>
  </div>


  <!--Performance Metrics-->
  <div>
    <h5>Performance Metrics</h5>
    <ul>
      <li>
        Classification
        <ul>
          <li>Confusion Matrix</li>
          <li>Precision,Recall, F1 score</li>
        </ul>

      </li>
      <li>
        Regression
        <ul>
          <li>R<sup>2</sup>,Adjusted R<sup>2</sup></li>
          <li>MSE,RMSE,MAE</li>
        </ul>
      </li>
    </ul>
  </div>

  <!--Types of Problems it can solve(Supervised)-->
  <div>
    <h5>Types of Problems it can solve(Supervised)</h5>
    <ul>
      <li>Classification</li>
      <li>Regression</li>
    </ul>
  </div>

  <!--Whether Feature Scaling is required?-->
  <div>
    <h5>Whether Feature Scaling is required?</h5>
    <p>No</p>
  </div>


  <!--

2. Advantages
Advantages of Adaboost

Doesn't Overfit

It has few parameters to tune

Advantages of Gradient Boost And Xgboost

It has a great performance
It can solve complex non linear functions
It is better in solve any kind of ML usecases.
3. Disadvantages
Disadvantages of Gradient Boosting And Xgboost

1.It requires some amount of parameter tuning
  -->

  <!--Advantages-->
  <div>
    <h5>Advantages</h5>

  </div>


  <!--Disadvantages-->
  <div>
    <h5>Disadvantages</h5>
  </div>

</div>
