<div class="container">
  <!--DBSCAN Algorithom-->
  <div>
    <h5>DBSCAN Algorithom</h5>
    <img class="img-fluid" src="https://sites.google.com/site/machinelearningnotebook2/_/rsrc/1473016047750/clustering/dbscan/DBSCAN%20%281%29.png">
    <br>
    <br>
    <b>Maths Behiand DBSCAN Algorithom</b>
    <br>
    <br>
    <p>Here we have  4 different main components </p>
    <ul>
      <li>Epsilon</li>
      <li>Minimum Points</li>
      <li>Core Points</li>
      <li>Border Points</li>
      <li>Noise Points</li>
    </ul>
    <img class="img-fluid" width="400px" src="https://t1.daumcdn.net/cfile/tistory/9930A63359E057BA1A">
    <p>Here we consider p point and draw a
      circular boundary around P according to radius value.
      ere Radius value is Epsilon Value. if  This circular boundary contains
      at least Minimum points this p consider as a core point otherwise if the circular boundary contain at
      least one point this P point consider as a Border point and if the circular boundary does not contain
      any point P consider as Noise Point</p>
    <img class="img-fluid" width="400px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQp5QgklqocMhT0y9L4aWjQ8QiPqwGiz1lfsQ&usqp=CAU">
    <p>These Noise Points are Like Outliers and Noise
      points not assigned to a cluster because this algorithm works very well with Outliers</p>
  </div>

  <!--Advantage of DBSCAN-->
  <div>
    <h5>Advantage of DBSCAN</h5>
    <ul>
      <li>Is greater at separating cluster of high-density Vs Law density within a given data set.</li>
      <li>Is great with handling outliers  within the dataset </li>
    </ul>
    <h5>Disadvantages of DBSCAN</h5>
    <ul>
      <li>
        Does not work very well with dealing with clusters which has a similar density
      </li>
      <li>
        Struggles with high dimensionality data
      </li>
    </ul>
  </div>
</div>
