<div class="container">
  <!--Recurrent Nueral Network-->
  <div>
    <h5>Why the Recurrent Neural Network (RNN) required to NLP?</h5>
    <p>When we applying machine learning techniques for
      NLP it will discard sequential information of data RNN works very well with sequential data </p>
  </div>


  <!--Applications of Recurrent Neural Networks (RNNs)-->
  <div>
    <h5>Applications of Recurrent Neural Networks (RNNs)</h5>
    <ul>
      <li>Prediction problems</li>
      <li>Language Modelling and Generating Text</li>
      <li>Text Summarization</li>
      <li>Time Series Analysis </li>
      <li>Speech Recognition</li>
      <li>Call Center Analysis</li>
    </ul>
  </div>

  <!--RNN with Forwad Propergation-->
  <div>
    <h5>RNN with Forwad Propergation</h5>
    <img src="https://miro.medium.com/max/5004/1*ccHxugJhQo7VH4GAAZt3Sg.png"  class="img-fluid" width="800px" height="400px">
    <p>

    </p>
  </div>

  <!--Back Propagation In Recurrent Neural Network-->
  <div>
    <h5>RNN with Back Propergation</h5>
    <img src="https://ars.els-cdn.com/content/image/1-s2.0-S0959438818302009-gr1.jpg"  class="img-fluid" width="800px" height="400px">
  </div>

</div>
