<div class="container">

  <!--What is CNN-->
  <div>
    <h5>What is Convolution Nueral Network</h5>
    <p>//Explain</p>
  </div>

  <!--CNN-->
  <div>
    <h5>Convolution Nueral Network (CNN) & Human Brain</h5>
    <img src="https://i.pinimg.com/originals/24/41/7a/24417a62fd9fc18a638202d0a56c676c.jpg" class="img-fluid" width="300px" height="100px"><br>
    <p><b>What do you see when you look at this image.</b><br>
      Do you see a person looking at you or do you see a person looking to the right you can see that your
      the brain is struggling to adjust if you look to the right side of the image.
      Just look at the right border there which you'll see a person looking to the right.
      If you look at the left border of the image you'll see a person looking at you.
      And this just proves that what our brain is looking for when we see things are features depending on
      the features that it sees depending on the features that you process.
      You categorize things in certain ways.
      So when you look on the right side of the image you see certain features of a person looking to ride
      because they're closer to your center of focus and therefore your brain classifies as a person looking
      to the right.
      When you look to the left side of the image you see more features of a person looking at you and therefore
      your brain's <a href="https://en.wikipedia.org/wiki/Visual_cortex#:~:text=The%20visual%20cortex%20of%20the,then%20reaches%20the%20visual%20cortex.">visual cortex </a>classifies it as such.</p><br>

      <p>In the visual cortex, we have multiple layers ( v1,v2,v3,v4,v5,v6 )
        these each layer responsible for doing special tasks. some layers responsible
        for finding the edges of a particular image and someone responsible for finding
        special information from images etc. Each layer passes its information to another layer.
        This is a process in the human brain and let's see how <b>CNN</b> do these tasks.</p>
  </div>


  <!--What is Convolution-->
  <div>
    <h5>What is Convolution</h5>
    <img src="https://media5.datahacker.rs/2018/11/06_01_2_3D.png"  class="img-fluid" width="500px" height="300px">
    <p>In CNN grayscale image represented with a 2D array and colored image represent
      with a 3D array and each channel's pixel between 0 - 255 and we can reduce these value (0 to 1)
      by applying feature scaling techniques (Min-Max Scaler)</p><br>
    <b>What is filter</b>
    <img src="">
    <p>In CNN grayscale image represented with a 2D array and
      colored image represent with a 3D array and each channel's pixel
      between 0 - 255 and we can reduce these value by applying feature scaling techniques (Min-Max Scaler)</p>

    <img src="https://anhreynolds.com/img/cnn.png" class="img-fluid" width="500px" height="300px">
  </div>


</div>
