<div class="container">

  <!--Cross Validation-->
  <div class="">
    <h1>Cross Validation</h1>
    <img class="img-fluid" width="500px" height="400px"  src="https://upload.wikimedia.org/wikipedia/commons/b/b5/K-fold_cross_validation_EN.svg">
    <p>How Cross Validation works with parameter tuning</p>
    <img   class="img-fluid" width="500px" height="400px"  src="https://scikit-learn.org/stable/_images/grid_search_cross_validation.png">
  </div>


  <!--Parameter Tunuing-->
  <div>
    <img  class="img-fluid mt-5" width="500px" height="400px"  src="https://miro.medium.com/max/1176/1*pgTLoLGw0PVaP7ViSyQabA.png">
  </div>
</div>
